<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile">
        <activity
            android:name=".restarunt"
            android:exported="false" />
        <activity
            android:name=".medicine"
            android:exported="false" />
        <activity
            android:name=".etc"
            android:exported="false" />
        <activity
            android:name=".education"
            android:exported="false" />
        <activity
            android:name=".cvs"
            android:exported="false" />
        <activity
            android:name=".culture"
            android:exported="false" />
        <activity
            android:name=".circulation"
            android:exported="false" />
        <activity
            android:name=".cafe"
            android:exported="false" />
        <activity
            android:name=".beauty"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>